<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GiantMakerCell1</string>
			<key>height</key>
			<integer>100</integer>
			<key>detail</key>
			<string>openTwitterElijahController</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GiantMakerCell2</string>
			<key>height</key>
			<integer>100</integer>
			<key>detail</key>
			<string>openTwitterAndrewController</string> 
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
                <dict>
			<key>action</key>
			<string>openGithub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>The Makers</string>
</dict>
</plist>
