<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SAVE_MODE_FOOTER</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>saveMode</string>
			<key>label</key>
			<string>SAVE_MODE</string>
			<key>validTitles</key>
			<array>
				<string>Prompt Me</string>
				<string>Save to Photo Library</string>
				<string>Copy to the Clipboard</string>
				<string>Both</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ALWAYS_SAVE_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>copyToClipboard</string>
			<key>label</key>
			<string>ALWAYS_COPY_CLIPBOARD</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>copyToPictures</string>
			<key>label</key>
			<string>ALWAYS_SAVE_SS</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ALBUMNAME_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>saveToCustomAlbum</string>
			<key>label</key>
			<string>SAVETOCUSTOMALBUM</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>Screenshots</string>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>albumName</string>
			<key>label</key>
			<string>CUSTOM_ALBUM_NAME</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
			<key>icon</key>
			<string>albumName.png</string>
			<key>placeholder</key>
			<string>Desired Name…</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>OTHER_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>showCameraFlash</string>
			<key>label</key>
			<string>SCREEN_FLASH</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>darkenCameraFlash</string>
			<key>label</key>
			<string>DARKEN_FLASH</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>playShutterSound</string>
			<key>label</key>
			<string>SS_SOUND</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>notifyApps</string>
			<key>label</key>
			<string>NOTIFY_APPS</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.efrederickson.almpoum.settings</string>
			<key>key</key>
			<string>uploadToPhotoStreams</string>
			<key>label</key>
			<string>UPLOAD_TO_PHOTO_STREAM</string>
			<key>PostNotification</key>
			<string>com.efrederickson.almpoum/reloadSettings</string>
		</dict>-->
	</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
