Package: com.efrederickson.almpoum
Name: Almpoum
Depends: mobilesubstrate, libhide
Conflicts: com.mologie.clipshot
Version: 1.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Elijah Frederickson
Author: Elijah Frederickson
Section: Tweaks
